main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.registration-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 40%;
}

.registration-form h2 {
    margin-top: 0;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    background-color: #E60012;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.submit-btn:hover
{
    background-color: #555;
    transition: background-color 0.3s;
}